<%= error_messages_for "menu" %>

<!--[form:menu]-->
<p><label for="menu_title">Titre</label><br/>
<%= text_field "menu", "title"  %></p>

<p><label for="menu_title">Menu type</label><br/>
<%= select("menu", "menutype_id", Menutype.find(:all).collect {|c| [c.name, c.id]})  %></p>

<p><label for="menu_title">Lien</label><br/>
<%= text_field "menu", "url"   %></p>

<p><label for="menu_description">Description</label><br/>
<%= text_area "menu", "description", :size => "80x20"  %></p>

<p><label for="menu_ingredients_contenu">Ingredients</label><br/>
<%= text_area "menu", "ingredients", :size => "80x20"  %></p>
<!--[eoform:menu]-->

