
<div id="liste_menus">
	<%= will_paginate @menus %><h1><%= I18n.t("mdls.liste_menus")%></h1>
	
	<ul>
	<%for menu in @menus %>
	 <li>
     <div id="mnuMidi_<%=menu.id%>" class="menu_cart <%=menu_position%>">
		<div class="add_cart ui-icon ui-icon-cart right cr_pointer"></div>
		<div class="left">
     		<div class="ui-icon ui-icon-grip-dotted-vertical left cr_move"></div>
    		<div class="checkbox left"><input type="checkbox" id="chk_<%=menu.id%>"aria-labelledby=""></div> 
		</div>
 		<div class="link"><%= link_to %Q{#{menu.title}}, :controller => "menus",  :action => "show", :id => menu %></div>
		<div class="byline">Posté le <%= l menu.date, :format => :short%> </div>
	 	<div class="user"><%= link_to %Q{#{menu.user.login}}, {:action => "index", :user_id =>  menu.user} %></div>
     </div>
	 </li>
     <% end %>  
	</ul>
</div>

<script type='text/javascript'>
	$(document).ready(function() {
		$('.paginationAnchor').html('');
		$('.pagination').appendTo($('.paginationAnchor')) ;
		$('div[id^=mnuMidi]').dragDropMenus("#cart", '<%= url_for(:action => 'add', :controller => 'choixmenu') %>');
		$('.add_cart').live('click',function() {
			$.get('<%= url_for(:action => 'add', :controller => 'choixmenu') %>' + '/' + $(this).parent().attr("id"), function(data) {
			  $('#cart').html(data);
			});	
		});
	});
</script>

