<div id="<%= @affichage %>">
    <table>
        <tr class="titre">
            <% (1..5).each do |w| %>
            <th width="<%= 20 %>%">
                <em></em>
            </th>
            <% end %>
        </tr>
        <% (1..@menus.size).each do |mn| menu=@menus.at(mn-1) %>
        <%= "<tr>" if mn % 5 == 1 %>
        <td>
            <div id="mnuMidi_<%=menu.id%>" class="menu_cart">
                <div class="menu_gauche">
                </div>
                <div class="menu_droit">
                    <div id="libelle">
                        <%= link_to %Q{#{menu.title}}, :controller => "menus",  :action => "show", :id => menu %>
                    </div>
                    <div id="login">
                        <%= link_to %Q{#{menu.user.login}}, {:action => "list", :user_id =>  menu.user_id} %>
                    </div>
                    <%= draggable_element("mnuMidi_" + menu.id.to_s, :revert => true) %>
                </div>
            </div>
        </td>
        <% "</tr>" if mn % 5 == 0 %>
        <% end %>
    </table>
</div>
