   <h1>Editer</h1>
<%= form_tag "/menus/update/"+@menu.id.to_s do %>
  <%= render :partial => "form" %>
  <p><%= submit_tag "Valider", :class => "button"  %></p>
<% end %>

<div class="post-footer">	
<p class="links">
<%= link_to "Voir", :action => "show", :id => @menu %> |
<%= link_to "Retour", :action => "list" %>
</p>
</div>
