
<% javascript "jquery.ba-url", "pagination" %>

<div>
	<%= render :partial => 'ssmenu' %>
	<div id="menus"><%= render :partial => 'menus' %></div>
	<%= render :partial => 'ssmenu' %>
</div>

<script type='text/javascript'>
	$(document).ready(function() {
		$('.selectall').selectAll({tous: "<%=t('tous')%>", aucun: "<%=t('aucun')%>", selectBoxes: '#menus .checkbox input'}) ;
		$('.addAll').addAllMenu({selectBoxes: '#menus .checkbox', url: "<%= url_for(:action => 'addAll', :controller => 'choixmenu') %>", dropSelector: "#cart"}) ;
	});
</script>
