<div class="mnu"><%= will_paginate @menus %><h1><%= I18n.t("mdls.liste_menus")%></h1></div>
<%= render :partial => 'liste_style' %>


<div class="post-footer">	
<p class="links">
<% if logged_in? %>
  <%= link_to t("mdls.new_menu"), :action => "new" %> |
<% end %>
  <%= link_to t("mdls.all_menu"), :action => "list" %>
</p>
</div>
