<h1><%= I18n.t("mdls.liste_menus")%></h1>
<p>
	<%= render :partial => "new_style" %>
</p>

<%= will_paginate @menus %>

<div class="post-footer">	
<p class="links">
<% if logged_in? %>
  <%= link_to t("mdls.new_menu"), :action => "new" %> |
<% end %>
  <%= link_to t("mdls.all_menu"), :action => "list" %>
</p>
</div>
