<h1><%= I18n.t(:new_menu) %></h1>

<% form_for @menu, :url => menus_path do |f| %>
	<div id="sousmenus">
  		<%= link_to I18n.t("mdls.create") , '#', {:class => :button, :id => :create} %>
		<%= link_to "Retour", menus_url, :class => :button %>
	</div>
  <%= messages_error @menu  %>
  <%= render :partial => "form", :object => f %>
  <%= f.submit I18n.t("mdls.create"), :style => "display: none;" %>
<% end %>

<script type='text/javascript'>
	$(document).ready(function() {
		$('#create').click(function() {
			$("form").submit();
			return false;
		});
	});
</script>
