<h1><%= I18n.t(:new_menu) %></h1>

<% form_for @menu, :url => menus_path do |f| %>
  <%= messages_error @menu  %>
  <%= render :partial => "form", :object => f %>
  <%= f.submit  I18n.t("mdls.create") , :class => "button"%></p>
<% end %>

<div class="post-footer">	
	<p class="links">
		<%= link_to "Retour", menus_url %>
	</p>
</div>
