<h1>Liste des menus</h1>

<table class="menu">
   <% if false %>
      <tr class="titre">
         <th width="15%"><em>Midi/Soir</em></th>
         <th width="75%"><em>Titre</em></th>
         <th width="10%"><em>Pseudo</em></th>
      </tr>
      <% for menu in @menus %>
         <tr class="midi">
            <% if logged_in? && (menu.user_id==current_user.id) %>
               <td><%= link_to %Q{#{menu.menutype.name}}, {:action => "list", :menutype_id => menu.menutype.id} %></td>
               <td>
                  <div id="mnuMidi_<%=menu.id%>" class="menu_cart">
                     <%= link_to %Q{#{menu.title}}, :controller => 'menu',  :action => "show", :id => menu %>
                     <%= link_to "(supprimer)", { :action => "destroy", :id => menu },
                                            :confirm => "Voulez-vous supprimer ce menu ?", :method => "post" %></td>

                     <%= draggable_element("mnuMidi_" + menu.id.to_s, :revert => true) %>
                  </div>
               </td>
               <td><%= link_to %Q{#{menu.user.login}}, {:action => "list", :user_id => menu.user_id} %></td>
            <% else %>
               <td><%= link_to %Q{#{menu.menutype.name}}, {:action => "list", :menutype_id => menu.menutype.id} %></td>
               <td>
                  <div id="mnuMidi_<%=menu.id%>" class="menu_cart">
                     <%= link_to %Q{#{menu.title}}, :controller => 'menu',  :action => "show", :id => menu %>
                     <%= draggable_element("mnuMidi_" + menu.id.to_s, :revert => true) %>
                  </div>
               </td>
               <td><%= link_to %Q{#{menu.user.login}}, {:action => "list", :user_id =>  menu.user_id} %></td>         
            <% end %>
         </tr>  
      <% end %>
   <% else %>
      <tr class="titre">
         <th width="14%"><em></em</th>
         <th width="14%"><em></em</th>
         <th width="14%"><em></em</th>
         <th width="14%"><em></em</th>
         <th width="14%"><em></em</th>
         <th width="14%"><em></em</th>
         <th width="14%"><em></em</th>
      </tr>   
      <tr class="midi">
      <% for menu in @menus[0..6] %>
            <td>            
               <div id="mnuMidi_<%=menu.id%>" class="menu_cart">
                 <div class="mnu_elt">
                 <%= link_to %Q{#{menu.title}}, :controller => 'menu',  :action => "show", :id => menu %>
                 </div>
                  <%= draggable_element("mnuMidi_" + menu.id.to_s, :revert => true) %>
               </div>
            </td>            
      <% end %>
      </tr>
      <tr class="midi">
      <% if @menus.length>7 %>
         <% for menu in @menus[7..13] %>
               <td>
                  <div id="mnuMidi_<%=menu.id%>" class="menu_cart">
                     <div class="mnu_elt">
                    <%= link_to %Q{#{menu.title}}, :controller => 'menu',  :action => "show", :id => menu %>
                     </div>
                     <%= draggable_element("mnuMidi_" + menu.id.to_s, :revert => true) %>
                  </div>
               </td>            
         <% end %>
      <% end %>
      </tr>  
      
   <% end %>
</table>



<%= will_paginate @menus %>

<p class="post-footer align-right">	
<% if logged_in? %>
  <%= link_to 'Nouveau menu', :action => 'new' %> |
<% end %>
  <%= link_to 'Tous les menus', :action => 'list' %>
</p>
