<h1>Menu</h1>
<% for column in Menu.content_columns %>
<p>
  <% if (column.name!="date") %>
    <b><%= column.human_name %>:</b> <%=h @menu.send(column.name) %> 
  <% end %>
</p>
<% end %>

<p class="post-footer align-right">	

   <% if logged_in? && (@menu.user_id==current_user.id) %>
      <%= link_to 'Editer', :action => 'edit', :id => @menu %> |
   <% end %>
   <%= link_to 'Retour', :action => 'list' %> |

   <%= link_to_remote "Commentaires ("+@menu.comments.count.to_s+")", 
               :update => "comment_div",
               :url => { :controller => 'comment', :action => 'list', :id => @menu.id },    
               :complete => visual_effect(:toggle_appear, 'comment_div', :duration => 1.00),
               :html => { :class  => "comments" }
               %>
</p>
<div id="comment_div" style="display: none">
</div>

