<li><a href="/"><span><%=t("mdls.home")%></span></a></li>
<!--li><a href="/menu/list"><span>Menus</span></a></li-->
<%if logged_in? %>
   <li><%=link_to "<span>Deconnexion</span>", logout_path %></li>
<%else %>
   <li><%=link_to(login_path) do %><span><%= t("mdls.sign_in") %></span><% end %></li>
   <li><%=link_to(signup_path) do %><span><%= t("sign_up") %></span><% end %></li>
<%end %>
<li><a href="/home/comment"><span><%=t("mdls.how_it_works")%></span></a></li>
<%if logged_in? %>
   <li><a href="/emailer/index"><span><%=t("mdls.contact")%></span></a></li>
   <li><a href="/profil"><span><%=t("mdls.options")%></span></a></li>
<% end %>
<!--li><a href="/menu/list"><span>Comment ça marche ?</span></a></li-->
<% if admin? %>
   <li><a href="/menutype"><span><%=t("mdls.menutype")%></span></a></li>                        
   <li><%=link_to(users_path) do %><span><%= t("mdls.userlist") %></span><% end %>
	</li>                        
<% end %>

