<%if current_user %>
   <li><span><%=link_to t("log_out"), logout_path %></span></li>
   <li><a href="/plannings"><span><%=t("mdls.planning")%></span></a></li>
   <li><a href="/emailer/index"><span><%=t("mdls.contact")%></span></a></li>
   <li><a href="/profil"><span><%=t("mdls.options")%></span></a></li>
<%else %>
   <li><span><%=link_to t("mdls.sign_in"), :new_user_session, :class => "login" %></span></li>
   <li><span><%=link_to t("sign_up"), signup_path %></span></li>
<%end %>
<% if admin? %>
   <li><span><%= link_to t("mdls.menutype"), menutypes_path %></span></li>                        
   <li><a href="/useradm/list"><span><%=t("mdls.userlist")%></span></a></li>                        
<% end %>
