<li class='<%=selected_menu("menu")%>'><%= link_to t("mdls.menus"), menus_path%></li>                        
<li class='<%=selected_menu("planning")%>'> <%= link_to t("mdls.planning"), plannings_path%></li>                        
<%if current_user %>
   <li class='<%=selected_menu("contact")%>'><%=link_to t("mdls.contact"), emailer_url%></li>
   <li class='<%=selected_menu("profil")%>'><%=link_to t("mdls.options"), edit_user_profil_url(current_user)%></li>
<%end %>
<% if admin? %>
   <li class='<%=selected_menu("type")%>'><%= link_to t("mdls.menutype"), menutypes_path %></li>                        
   <li class='<%=selected_menu("user")%>'><%= link_to t("mdls.userlist"), users_url %></li>                        
<% end %>
