<h1>Liste des utilisateurs</h1>

<table class="user" width="90%">
    <tr class="titre" align="center">
      <th width="20%"><em>Utilisateur</em> </th>
      <th width="20%"><em>Créer/Activé</em> </th>
      <th width="60%"><em>Courriel</em></th>
   </tr>
   <% for user in @users %>
      <tr class="liste">
         <td><%= user.login %></td>
         <td>
            <%= if user.activated_at then user.activated_at.strftime("%d/%m/%Y") end %>
            <%= unless user.activated_at then user.created_at.strftime("%d/%m/%Y")+" (C)" end %>
         </td>
         <td><%= user.email.gsub(/@/, "(at)") %></td>
      </tr>  
   <% end %>
</table>

<%= will_paginate @users %>