<% okok = false %>
<% session[:choix].each do |menusliste| %>
  <% if @week[menusliste.day]==day and @midisoir[menusliste.when]==midisoir %>
  <% okok = true %>
   <div id="item_<%=menusliste.menu_id%>" class="menu-items"> 
      <div class="cart_elt">
	    <%= link_to url_for(:controller => "choixmenu", :action => "remove", :id => menusliste.menu_id, :day => day, :midisoir => midisoir), :class => "rm_cart" do %>
			<%= image_tag("icones/delete.gif") %>
		<% end %>
         <%#=link_to_remote , :update => "items_#{day}_#{midisoir}", 
            :url => {:controller => "choixmenu", :action => "remove", :id => menusliste.menu_id, :day => day, :midisoir => midisoir },
            :loading => visual_effect(:appear, 'indicator', :duration => 2.00),
            :complete => visual_effect(:fade, 'indicator', :duration => 2.00),
            :html => { :class => "destroy" } %>  
         <%= Menu.find(menusliste.menu_id).title %>
      </div>            
   </div>
   <div class="menu-items-bottom">
   </div>
   <% end %>
<% end %>
<% unless okok %>
  <div class="empty_cart"><%=midisoir%></div>
<% end %>

