<div id="cart">
	<div id="cartcount"><%=cartcount%></div>
	<%= drop_receiving_element "cart", 
	:update => "cartcount", :url => {:controller => "choixmenu", :action => "add"},
	:accept => "menu_cart", :hoverclass => "cart-active",
	:loading => visual_effect(:appear, "indicator", :duration => 2.00),
	:complete => visual_effect(:fade, "indicator", :duration => 2.00) %>      
</div>

<a class="button" href="/choixmenu/empty">Effacer</a>

<div style="display:none;">
<a class="button" href="/choixmenu/print">Format PDF</a> 
<a class="button" href="/choixmenu/courses">Ingrédients</a> 
<%= link_to_create_planning %>
<%= link_to_save_planning %>
<%= link_to_duplicate_planning %>
</div>

<div style="height:40px;padding-top:10px;">
  <p id="indicator" style="display:none;margin-top:0px;border:0px;">
     <%= image_tag "/images/icones/indicator.gif" %> Mise à jour ...
  </p>
</div>   




