
<% @week.each do |day| %>
   <div id="msg_cart"><%=day%></div>
   <% @midisoir.each do |midisoir| %>
      <div class="<%="midisoir_cart" if @midisoir.size > 1 and midisoir==@midisoir[0] %>">
         <div id="cart_<%="#{day}_#{midisoir}"%>" class="drop_cart cart_<%=day%>" data-url='<%= url_for(:controller => "choixmenu", :action => "add", :day => day, :midisoir => midisoir) %>'>   
            <div id="<%="items_#{day}_#{midisoir}"%>">
               <%= render :partial => "choixmenu/cart", :locals => { :day => day, :midisoir => midisoir } %>
            </div>
		</div>
      </div>
   <% end %>   
<% end %>

<a class="button" href="/choixmenu/print">Format PDF</a> 
<a class="button" href="/choixmenu/courses">Ingrédients</a> 
<% if admin? %>
  <a class="button" href="/plannings/new">Sauvegarder</a> 
<% end %>
<a class="button" href="/choixmenu/empty">Vider</a> 

<div style="height:40px;padding-top:10px;">
   <p id="indicator" style="display:none;margin-top:0px;border:0px;">
      <%= image_tag "icones/indicator.gif" %> Mise à jour ...
   </p>
</div>   


