
<% @week.each_with_index do |day, idx| %>
	<div id="cart_<%=idx%>">
		<h3><%=day%></h3> 	
		<div class="cart_drop" data-url='<%= url_for(:controller => "choixmenu", :action => "add", :day => day) %>'>   	
    		<%= render :partial => "choixmenu/cart", :locals => { :day => idx, :midisoir => 0 } %>
		</div>
	</div>
<% end %>

<a class="button" href="/choixmenu/print">Format PDF</a> 
<a class="button" href="/choixmenu/courses">Ingrédients</a> 
<% if admin? %>
  <a class="button" href="/plannings/new">Sauvegarder</a> 
<% end %>
<a class="button" href="/choixmenu/empty">Vider</a> 

<div style="height:40px;padding-top:10px;">
   <p id="indicator" style="display:none;margin-top:0px;border:0px;">
      <%= image_tag "icones/indicator.gif" %> Mise à jour ...
   </p>
</div>   


