<h1>Editer</h1>
<%= form_tag :action => "update", :id => @menutype do %>
  <%= render :partial => 'form' %>
  <%= submit_tag 'Valider', :class => 'button'  %>
<% end %>

<div class="post-footer">	
<p class="links">
<%= link_to 'Show', :action => 'show', :id => @menutype %> |
<%= link_to 'Back', :action => 'index' %>
</p>
</div>
