<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
       "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
  <meta http-equiv="content-type" content="text/html;charset=UTF-8" />
  <title>Menus de la semaine</title>
  <link rel="shortcut icon" href="favicon.ico" type="image/x-icon">
  <link rel="alternate" type="application/rss+xml" title="MenusDeLaSemaine" href="/menus.rss" />
  <%= stylesheet_link_tag "application" %>
  <%= javascript_include_tag "application" %>   
  <%= csrf_meta_tag %> 
</head>
<body>



<div id="logo" class="container_12">
   <div id="logo-left">
    <h1><a href="#">Menus<span class="green">de</span>la<span class="gray">semaine</span></a></h1>	
   	<h2>les  menus  sans  peine...</h2>     
   </div>
   <div id="logo-right">
     <div id="pub">
       <% unless APP_CONFIG["host"]=="http://localhost:3000" %>
       <script type="text/javascript"><!--
         google_ad_client = "pub-6935144034213351";
         /* mdls_illu */
         google_ad_slot = "0177394572";
         google_ad_width = 468;
         google_ad_height = 60;
         //-->
       </script>
       <script type="text/javascript" src="http://pagead2.googlesyndication.com/pagead/show_ads.js"></script>
       <% end %>
     </div>
   </div>
</div>



<!-- start header -->
<div id="navbar" class="container_12">
  <ul><%= render :partial => "home/navigation" %></ul>
  <a class="rss" href="/menus.rss"><%= image_tag "icones/Feed-icon.png" %></img></a>       
</div>
<!-- end header -->

<!-- start page -->
<div id="wrapper" class="container_12">

<div id="wrapper-btm">
  <div id="page"> 
    <!-- start sidebar -->   
    <div id="sidebar" class="grid_3">     
	  <%= render :partial => "home/sidebar" %>   
	</div>
    <!-- end sidebar -->
		
    <!-- start content -->
    <div id="content" class="grid_9 prefix_3">
     <div id="banner">
        <% unless APP_CONFIG["host"]=="http://localhost:3000" %>
        <script type="text/javascript"><!--
          google_ad_client = "pub-6935144034213351";
          /* mdls_2 */
          google_ad_slot = "1809936215";
          google_ad_width = 468;
          google_ad_height = 60;
          //-->
        </script>
        <script type="text/javascript" src="http://pagead2.googlesyndication.com/pagead/show_ads.js"> </script>
        <% end %>
      </div>
	  
	  <% flash.each do |name, msg| %>
	      <div id="alert" class="alert-<%= name == :notice ? "success" : "error" %>">
	          <%= msg %>
	      </div>
	  <% end %>
      
      <div class="post">
        <%=yield %>
      </div>
    </div>
    <!-- end content -->
    <div style="clear: both;">&nbsp;</div>
</div>
<!-- end page -->
</div>
</div>

<!-- start footer -->
<div id="footer" class="container_12">
	<div class="grid_11 push_1">
		<p id="legal">(c) 2008 <strong>Menusdelasemaine</strong></p>
	</div>
</div>
<!-- end footer -->

</body>
</html>

