<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
       "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
  <meta http-equiv="content-type" content="text/html;charset=UTF-8" />
  <title>Menus de la semaine</title>
  <%= stylesheet_link_tag 'pagination' %>
  <%= stylesheet_link_tag 'menus' %>
  <%= stylesheet_link_tag user_style %>
  <%= javascript_include_tag :defaults %>   
</head>
<body>

<div id="wrap">

   <div id="header">      
      <%= render_component :controller => 'recherche', :action => 'new' %>
      
      <h1 id="logo"><a href="index.html">Menus<span class="green">de</span>la<span class="gray">semaine</span></a></h1>	
		<p id="slogan">les  menus  sans  peine...</p> 
		
      <div id="compteur">
        <%= render_component :controller => 'home', :action => 'compteur'  %>
      </div>
     
   </div>
      
   <div id="menu">     
     <div id="light-brown-line"></div>	
     <ul><%= render :partial => '/home/navigation' %></ul>
   </div>
   
   <!-- content-wrap starts here -->
	<div id="content-wrap">   
      <div id="main">         
      <div id="alerte" style="display:none;"><p style="color: green"><%= flash[:notice] %></p></div>
      <%=yield %>
   </div>
   
      <div id="sidebar">
         <div id="login_div"  style="display:none;"></div>
         <a class="menu-print" href="/choixmenu/print"><%= image_tag "/images/icones/printer-grey.gif"%></a><h2>Mes menus</h2>
         <%= render_component :controller => 'choixmenu', :action => 'list' %>  
         <h2>Mots clés</h2>
         <%= render_component :controller => 'menu', :action => 'recupere' %>   
      </div>
   </div>
    
<!-- footer starts here -->	
	<div id="footer">
		<div id="footer-content">
		<div id="footer-right">
			<a href="/">Accueil</a> |  	
			<a href="/signup">S'enregistrer</a>  
      </div>
		
		<div id="footer-left">

			&copy; Copyright 2008 <strong>Menusdelasemaine</strong>&nbsp;	 
			Design by: <a href="http://www.styleshout.com/">styleshout</a> 
		</div>
		</div>	
	</div>

<!-- footer ends here -->	
</div>   

</body>
</html>

<%= if flash[:notice]
      update_page_tag do |page|
         page.show("alerte") 
         page.visual_effect(:highlight, "alerte")
         page.delay(4.0) do
           page.hide("alerte")
         end
       end
    end
%>
