 <!DOCTYPE HTML PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <%= include_iui_files %>
		<%= stylesheet_link_tag "menus" %>
    </head>
    <body>
        <%= iui_toolbar_replace "Mdls", new_recherche_url %>
        <ul selected="true">
            <li><a href="<%= menus_url %>">Plus récents</a></li>
            <li><a href="#Alpha">A..Z</a></li>
			<li><a href="<%= tags_url%>">Mots clés</a></li>
			<li><a href="/plannings">Semainier</a></li>
			<li><a href="/plannings/choix">Semaine en cours</a></li>
       </ul>
       <ul id="Alpha" title="Alpha">
            <li><a href="/menus?alpha=ABC">ABC</a></li>
            <li><a href="/menus?alpha=DEF">DEF</a></li>
            <li><a href="/menus?alpha=GHI">GHI</a></li>
            <li><a href="/menus?alpha=JKL">JKL</a></li>
            <li><a href="/menus?alpha=MNO">MNO</a></li>
            <li><a href="/menus?alpha=PQR">PQR</a></li>
            <li><a href="/menus?alpha=STU">STU</a></li>
            <li><a href="/menus?alpha=VWX">VWX</a></li>
            <li><a href="/menus?alpha=YZZ">YZ</a></li>
       </ul>		
    </body>
</html>
