<div id="liste_menus">
	<%= will_paginate @plannings %><h1><%= I18n.t("mdls.liste_menus")%></h1>
	
	<ul>
	<%for planning in @plannings %>
	 <li>
     <div id="mnuMidi_<%=planning.id%>" class="<%=menu_position%>">
 		<div class="link"><%= link_to %Q{#{planning.name}}, :controller => "plannings",  :action => "show", :id => planning %></div>
		<div class="byline">Posté le  <%=l planning.created_at, :format => :short%> </div>
		<div class="user"><%= link_to %Q{#{planning.user.login}}, {:action => "index", :user_id =>  planning.user} %></div>
     </div>
	 </li>
     <% end %>  
	</ul>
</div>
