<h1>Planning : <%=@planning.name %></h1>
<div id=>
    <div id="planning_style">
        <% @week.each do |day| %>
        <h2><%=day %></h2>
        <ul>
            <% @midisoir.each do |midisoir| %>
            <li><%= midisoir %></li>
            <%= render :partial => "cart", :locals => { :day => day, :midisoir => midisoir } %>
            <% end %>
        </ul>
        <% end %>
    </div>
</div>
<div class="post-footer">
    <p class="links">
        <%= link_to "Appliquer", :controller => "choixmenu", :action => "apply", :id => @planning.id %>
        <%= link_to "Retour", :action => "list" %>
    </p>
</div>
